@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodape.css");
@import url("formulario.css");
@import url("cadastro.css");

:root {
    --preto: #000000;
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --text-tag-color: #9c9c9c;
    --cinza: #474646;
    --cinza-claro: #858585;
    --laranja: #EB9B00;
    --text-title-color: #fc6621;
    --text-description-color: #fc6621;
    --vermelho: #ff0000;
    --azul: #002F52;
    --button-color: #326589;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --transição: 0.3s;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.header {
    text-align: center;
    width: 100%;
    background-color: var(--branco);
    margin: 15px 15px;
}


.nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    margin: 4rem 0;
}

.btn {
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
    height: 44px;
    text-decoration: none;
    color: #fff;
    padding: 10px 16px;
    margin: 0.5em;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.btn:hover {
    color: #cecdcd;
    border-radius: 10px;
    border-bottom: 2px solid var(--text-description-color);
}

.livros {
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-wrap: wrap;
    width: auto;
}

.livro {
    width: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

.indisponivel {
    opacity: 0.3;
}

.livro__titulo {
    color: var(--text-title-color);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}

.livro__descricao {
    text-align: center;
    font-size: 18px;
    color: var(--cinza-claro);
    margin: 1rem 0;
}

.livro__preco {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-price-color);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.tag {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-tag-color);
    padding: 5px 4px;
    background: rgba(197, 197, 197, 0.25);
    border-radius: 4px;
    margin-right: 1rem;
}

.livros__disponiveis {
    width: 100%;
    background-color: var(--text-description-color);
    margin-top: 1rem;
    padding: 2%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.livros__disponiveis p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    font-weight: 500;
    line-height: 50px;
    font-size: 2.5em;
} 